body output.motd-box::before {
    content: "\ea30";
}

body output.motd-box .msg-details {
    display: flex;
    justify-content: space-between;
}


.motd-box .msg-details .list-dashed {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.motd-box .msg-details .list-dashed::before {
    content: '';
    background: url('../img/initmax-free.svg');
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: padding-box;
    height: 1.5rem;
    width: 7rem;
    margin-left: 0.5rem;
}

.motd-box .motd-box-details > span {
    margin-right: 0.25rem;
}

.motd-box .motd-box-details > * {
    margin-right: 2rem;
}

output.motd-box {
    border-color: var(--motd-color-primary, #dc3838);

    .motd-box-details span {
        color: var(--motd-color-primary, #dc3838);
    }
}

.header-title {
    gap: 1rem;
}

body:has(#motd-list-page) .header-title::before {
    content: '';
    background: url('../img/initmax-free.svg');
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: padding-box;
    height: 1.5rem;
    width: 7rem;
    margin-left: 0.5rem;
}
